:root
{
    --t1 : rgb(67, 98, 255);
    --t2 : rgb(48, 41, 255);
    --t3 : rgb(26, 64, 255);
    --bordercolor : rgb(171, 171, 171);
    --stdmargin : 0.5em;
    --stdpadding : 0.5em;
    --bshadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --tshadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.tile
{
    background-color: white;
    color: black;
    padding: 0.5em;
    margin: 0.5em;
}


.squircle { border-radius: 0.3em; }


.fitwidth { width: fit-content; }
.fillwidth { width: 100%; }
.autowidth { width: auto; }

.fitheight { height: fit-content; }
.fillheight { height: 100%; }
.autoheight { height: auto; }



.shadow { box-shadow: var(--bshadow); }


.horizontal
{
    display:flex;
    flex-direction: row;
    /* margin-left : var(--stdmargin);
    margin-right : var(--stdmargin); */
}

.vertical
{
    display:flex;
    flex-direction: column;
    /* margin-top: var(--stdmargin);
    margin-bottom: var(--stdmargin); */
}

.border1 { border: 0.05em solid var(--bordercolor); }



.floatstart { align-self: self-start; }
.floatend   { align-self: self-end; }
.floatmid   { align-self: center; }



.width100p { width: 100%; }
.width90p { width: 90%; }
.width80p { width: 80%; }
.width70p { width: 70%; }
.width60p { width: 60%; }
.width50p { width: 50%; }
.width40p { width: 40%; }
.width30p { width: 30%; }
.width20p { width: 20%; }
.width10p { width: 10%; }
.width0p { width: 0%; }

.badgepad
{
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.active
{
    background-color: var(--t1);
    color: white;
}

.inactive { opacity: 60%; }

.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
.z5 {z-index: 5;}

.stdmargin  { margin: var(--stdmargin);        }
.stdlm      { margin-left: var(--stdmargin);   }
.stdrm      { margin-right: var(--stdmargin);  }
.stdtm      { margin-top: var(--stdmargin);    }
.stdbm      { margin-bottom: var(--stdmargin); }

.stdpadding { padding: var(--stdpadding);        }
.stdlp      { padding-left: var(--stdpadding);   }
.stdrp      { padding-right: var(--stdpadding);  }
.stdtp      { padding-top: var(--stdpadding);    }
.stdbp      { padding-bottom: var(--stdpadding); }

.stdmp {
    padding: var(--stdpadding);
    margin: var(--stdmargin);
}


.page {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.spacebw 
{
    justify-content: space-between;
}

.spaceev
{
    justify-content: space-evenly;
}


.topbar
{
    margin: 0;
    padding: 0.5em;
    width: auto;
    height: fit-content;

    display: flex;
    flex-direction: row;

    justify-content: center;
    /* margin-bottom: auto; */
}

.bb
{
    height: 10%;
    width: 10%;
    margin-left: 0.5em;
    margin-right: 0.5em;

    padding: 5%;

    /* background-color: black; */
    float:inline-start;
    cursor: pointer;

    border-radius: 50%;
    border: 0.05em solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
}


.xlargefont { font-size: 2.5em; }
.largefont  { font-size: 1.8em; }
.mediumfont { font-size: 1.3em; }
.smallfont  { font-size: 0.9em; }
.xsmallfont { font-size: 0.4em; }

h1
{
    font-weight: 400;
    font-size: 2.5em;
    text-shadow: var(--tshadow);
    user-select: none;
}
h2
{
    font-weight: 400;
    font-size: 1.8em;
    text-shadow: var(--tshadow);
    user-select: none;
}
h3
{
    margin: 0;
    font-weight: 400;
    font-size: 1.3em;
    text-shadow: var(--tshadow);
    user-select: none;
}
h4
{
    margin: 0;
    font-weight: 400;
    font-size: 0.9em;
    text-shadow: var(--tshadow);
    user-select: none;
}
h5
{
    margin: 0;
    font-weight: 400;
    font-size: 0.5em;
    text-shadow: var(--tshadow);
    user-select: none;
}



p {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    float: inline-start;
}

.textalignstart { text-align: start; }
.textaligncenter { text-align: center; }
.textalignend { text-align: end; }

.pointer { cursor: pointer; }


.metric {
    font-size: 2.5em;
    text-align: left;
    font-weight: 600;
}


.sinfo{
    margin-top: 0;
    color: var(--bordercolor);
    padding-left: 1em;
}

input {
    all: unset;
}

button 
{
    border: none;
    background-color: var(--t1);
    color: white;
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 100em;
    font-family: 'Segoe UI Light';
    cursor: pointer;
    text-align: center;
}
link-button
{
    border: none;
    background-color: var(--t1);
    color: white;
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 100em;
    font-family: 'Segoe UI Light';
    cursor: pointer;
    text-align: center;

}


